backoff
fftw>=3
gdal>=3.0
h5py>=3.0
hdf5>=1.10.2
libgcc-ng>=9
libgomp
libstdcxx-ng>=9
matplotlib
numpy>=1.20
pyre>=1.12.5
pyaps3>=0.3
pysolid>=0.2
python>=3.7
raider-base>=0.4.5
ruamel.yaml
scipy!=1.10.0
shapely>=2
sysroot_linux-64>=2.17
yamale
