Language:      Cpp
BasedOnStyle:  LLVM

# Includes
SortIncludes:    true
# Include group ordering:
# forward.h or main header
# system headers
# contrib headers
# isce3 headers with angle brackets
# relative quote includes
IncludeBlocks:   Regroup
IncludeCategories:
  - Regex:           '^.*forward\.h'
    Priority:        0
  - Regex:           '^(<|")(cereal|gtest|pyre|Eigen)/'
    Priority:        2
  - Regex:           '^<isce3/'
    Priority:        3
  - Regex:           '^"'
    Priority:        4
  - Regex:           '.*'
    Priority:        1
IncludeIsMainSourceRegex: '(\.cu)$'

# Indentation
IndentWidth:   4
TabWidth:      4
UseTab:        Never
ContinuationIndentWidth: 8
AccessModifierOffset: -4
IndentCaseLabels:           false
IndentWrappedFunctionNames: false
BreakInheritanceList: AfterColon
AlignAfterOpenBracket: Align
AlwaysBreakTemplateDeclarations: Yes

PointerAlignment: Left

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass:      false
    AfterControlStatement: false
    AfterEnum:       false
    AfterFunction:   true
    AfterNamespace:  false
    AfterStruct:     false
    AfterUnion:      false
    BeforeCatch:     false
    BeforeElse:      false
    IndentBraces:    false
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false

CompactNamespaces: true

# Misc
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All

# Spaces
SpaceAfterCStyleCast:              true
SpaceAfterLogicalNot:              false
SpaceAfterTemplateKeyword:         false
SpaceBeforeAssignmentOperators:    true
SpaceBeforeCpp11BracedList:        true
SpaceBeforeCtorInitializerColon:   true
SpaceBeforeInheritanceColon:       true
SpaceBeforeParens:                 ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses:           false
SpacesInAngles:                    false
SpacesInContainerLiterals:         true
SpacesInCStyleCastParentheses:     false
