//-*- Jade -*-
//-*- coding: utf-8 -*-
//
// {project.authors}
// {project.affiliations}
// (c) {project.span} all rights reserved
//

html
  head

    block css

    block js

  body

    block content

// end of file
