//- -*- Jade -*-
//- -*- coding: utf-8 -*-
//-
//- {project.authors}
//- {project.affiliations}
//- (c) {project.span} all rights reserved
//-

extends base

- load staticfiles
- load compress

append css

    {{% compress css %}}
    link(rel="stylesheet", type="text/stylus", href="{{% static 'styles/default.styl' %}}")
    {{% endcompress %}}


append js
    script(src="{{% static 'thirdparty/jquery/dist/jquery.js' %}}")
    {{% compress js %}}
    script(src="{{% static 'scripts/core.coffee' %}}", type="text/coffeescript")
    {{% endcompress %}}

append content

//- end of file
